* {
  border: 1px solid green;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.color {
  color: red; /* text color */
}

.margin {
  margin: 10px 20px 30px 40px; /* space outside the border */

  /* margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px; */
}

.padding {
  padding: 10px;
}

.common {
  width: auto;
  height: auto;
  min-width: none;
  min-width: auto;

  border: 0cap;
  border-radius: 0%;

  font-size: large;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;

  position: relative;
  position: absolute;
  position: fixed;
  position: sticky;

  left: auto;
  right: auto;
  bottom: auto;
  top: auto;

  display: block;
  display: flex;
  display: grid;
  display: none;

  overflow: auto;
  overflow-x: auto;
  overflow-y: auto;

  color: black;
  background-color: transparent;
}
